<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Center - Guimarães </title>
    <link rel="stylesheet" href="../css/Borracha.css">
    <link rel="shortcut icon" href="../img/boot/icon_min_green.png" type="image/gif">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>

</head>

<body>
    <main>
        <section>
            <section class="hearder" id="home">
                <header>
                    <nav>
                        <a href="#">BORRACHARIA GUIMARÃES</a>
                        <div class="mobile-menu">
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                        <ul class="nav-list">
                            <li><a href="#home">HOME <i class="fa fa-home fa-1x"></i></a></li>
                            <li><a href="#servicos">SERVIÇOS <i class="fa fa-briefcase fa-1x"></i></a></li>
                            <li><a href="#agend">AGENDAR <i class="fa fa fa-pencil fa-1x"></i></a></li>
                            <li><a href="#contact">CONTATO <i class="fa fa-phone fa-1x"></i></a></li>

                        </ul>
                    </nav>
                </header>
            </section>
            <section class="top-backg"></section>
            <section class="servicos" id="servicos">
                <div class="slide-container swiper">
                    <div class="slide-content">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>

                                    <div class="card-image">
                                        <img src="../img/autocenter/pneu.jpg" alt="" class="card-img">
                                    </div>
                                </div>

                                <div class="card-content">
                                    <h2 class="name">Pneus Novos e Remold</h2>
                                    <p class="description">Troca de pneus com agilidade e segurança, garantindo a
                                        qualidade
                                        e durabilidade dos produtos.</p>
                                    <button class="button">Ver Mais</button>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>

                                    <div class="card-image">
                                        <img src="../img/autocenter/car-aling.jpg" alt="" class="card-img">
                                    </div>
                                </div>

                                <div class="card-content">
                                    <h2 class="name">Alinhamento</h2>
                                    <p class="description">Fazemos o ajuste do alinhamento e balanceamento de veículos
                                        de
                                        todos os modelos e tamanhos.</p>

                                    <button class="button">Ver Mais</button>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>

                                    <div class="card-image">
                                        <img src="../img/autocenter/car-wash.jpg" alt="" class="card-img">
                                    </div>
                                </div>

                                <div class="card-content">
                                    <h2 class="name">Lava Rápido</h2>
                                    <p class="description">The lorem text the section that contains header with having
                                        open
                                        functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                                    <button class="button">Ver Mais</button>
                                </div>
                            </div>
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>

                                    <div class="card-image">
                                        <img src="../img/autocenter/mecanico.jpg" alt="" class="card-img">
                                    </div>
                                </div>

                                <div class="card-content">
                                    <h2 class="name">Mecânica</h2>
                                    <p class="description">The lorem text the section that contains header with having
                                        open
                                        functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                                    <button class="button">Ver Mais</button>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>
            <section class="agendamento" id="agend">
                <div class="agend-in">
                    <div class="agend-img">
                        <div class="agend-map">
                            <img src="../img/autocenter/Carro-G.jpeg" alt="">
                        </div>
                    </div>
                    <div class="agend-formu">
                        <div class="agend-form">
                            <h1>Agendamento</h1>
                            <form action="">
                                <input type="text" placeholder="Nome Completo" class="agend-form-text agend-name"
                                    maxlength="100" required>
                                <input type="tel" placeholder="Tel: (00) 000000000"
                                    pattern="\([0-9]{2}\) [0-9]{4,5}[0-9]{4}" maxlength="14"
                                    class="agend-form-text agend-tel" required inputmode="tel">
                                <div class="container">
                                    <div class="datetime">
                                        <p>Selecione uma data e hora:</p>
                                        <input type="datetime-local" id="data-hora" name="data-hora"
                                            class="agend-datetime" required>
                                    </div>
                                    <div class="opcoesservicos">
                                        <p>Selecione um serviço:</p>
                                        <select id="opcoes" name="opcoes" required>
                                            <option value="">Nenhum</option>
                                            <option value="opcao1">Borracharia</option>
                                            <option value="opcao2">Alinhamento</option>
                                            <option value="opcao3">Lava-Rápido</option>
                                            <option value="opcao4">Mecânico</option>
                                          </select>
                                    </div>
                                </div>
                                <textarea placeholder="Digite sua observação aqui..." class="agend-form-textarea"
                                    maxlength="300"></textarea>
                                <input type="submit" placeholder="Enviar" class="agend-form-btn ">
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact">
                <div class="contact-in" id="contact">
                    <div class="contact-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14736.83287030602!2d-44.96793819529964!3d-22.571314471879194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9df691ae07a61d%3A0x8181fd1ca7849b38!2sAuto%20Center%20E%20Borracharia%20Guimar%C3%A3es!5e0!3m2!1spt-BR!2sbr!4v1683813756784!5m2!1spt-BR!2sbr"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="contact-form">
                        <h1>Contate-Nos</h1>
                        <form action="">
                            <input type="text" placeholder="Nome Completo" class="contact-form-text">
                            <input type="text" placeholder="Email" class="contact-form-text">
                            <textarea placeholder="Digite sua mensagem aqui..."
                                class="contact-form-textarea"></textarea>
                            <input type="submit" placeholder="Enviar" class="contact-form-btn ">
                        </form>
                    </div>
                </div>
            </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="logo_copy">Guimarães<img src="" alt=""></div>
            <hr noshade>
            <p>Auto Center & Borracharia</p>
            <div class="redes-sociais">
                <ul class="socials">
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-whatsapp whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&#169 2023 | Boot Solutions | Todos direitos reservados.</p>
        </div>
    </footer>
</body>
<script src="../js/borracha.js"></script>
<script src="../js/mobile-navbar.js"></script>




</html>