<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Center - Guimarães </title>
    <link rel="stylesheet" href="../css/Borracha.css">
    <link rel="shortcut icon" href="../img/boot/icon_min_green.png" type="image/gif">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

</head>

<body>
    <main>
        <section>
            <section class="hearder">
                <header>
                    <nav>
                        <a href="#">BORRACHARIA GUIMARÃES</a>
                        <div class="mobile-menu">
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                        <ul class="nav-list">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#servicos">SERVIÇOS</a></li>
                            <li><a href="#contact">CONTATO</a></li>
                        </ul>
                    </nav>
                </header>
            </section>
            <!-- Serviços de qualidade para veículos de todos os tipos -->
        </section>
        <section class="servicos">
            <div class="slide-container swiper">
                <div class="slide-content">
                    <div class="card-wrapper swiper-wrapper">
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>
        
                                <div class="card-image">
                                    <img src="../img//autocenter/Carro-pneu.jpeg" alt="" class="card-img">
                                </div>
                            </div>
        
                            <div class="card-content">
                                <h2 class="name">Pneus Novos e Remold</h2>
                                <p class="description">Troca de pneus com agilidade e segurança, garantindo a qualidade e durabilidade dos produtos.</p>
                                <button class="button">Ver Mais</button>
                            </div>
                        </div>
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>
        
                                <div class="card-image">
                                    <img src="../img//autocenter/car-aling.jpg" alt="" class="card-img">
                                </div>
                            </div>
        
                            <div class="card-content">
                                <h2 class="name">Alinhamento</h2>
                                <p class="description">Fazemos o ajuste do alinhamento e balanceamento de veículos de todos os modelos e tamanhos.</p>
        
                                <button class="button">Ver Mais</button>
                            </div>
                        </div>
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>
        
                                <div class="card-image">
                                    <img src="../img//autocenter/car-wash.jpg" alt="" class="card-img">
                                </div>
                            </div>
        
                            <div class="card-content">
                                <h2 class="name">Lava Rápido</h2>
                                <p class="description">The lorem text the section that contains header with having open
                                    functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
        
                                <button class="button">Ver Mais</button>
                            </div>
                        </div>
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>
        
                                <div class="card-image">
                                    <img src="../img/autocenter/banner03.jpg" alt="" class="card-img">
                                </div>
                            </div>
        
                            <div class="card-content">
                                <h2 class="name">Mecânica</h2>
                                <p class="description">The lorem text the section that contains header with having open
                                    functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
        
                                <button class="button">Ver Mais</button>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
        
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>        
        </section>
    </main>

</body>
<script src="../js/borracha.js"></script>
<script src="../js/mobile-navbar.js"></script>




</html>