<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/css.css" />
    <link rel="shortcut icon" href="../img/icon_min_green.png" type="image/gif">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,1,0" />
    <title>Login</title>
</head>

<body>
    <section class="log">
        <a class="back-button" href="./index.html"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
        <form class="login">
        <img src="../img/boot/logo_green.png" alt="LOGO">
            <h2>Login</h2>
            <input type="email" placeholder="E-mail">
            <input type="password" placeholder="Senha">
            <button type="submit">Entrar</button>
        </form>
    </section>
</body>

</html>