@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;

}

body {
  background-color: #EFEFEF;
}


main {
  background-size: cover;
  background-color: #EFEFEF;
}

a {
  color: #303842;
  background-color: transparent;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;

}

a:hover {
  opacity: 0.7;
  color: #FF4500;
}

.active {
  font-weight: bold;
  color: #FF4500;
}

nav img {
  width: 20%;
  margin-top: 1%;
}
.nav-logo a{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-transform: uppercase;
}

nav {
  width: 100%;
  display: flex;
  top: 0;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: transparent;
  height: 10vh;
  position: fixed;
  z-index: 999;
}

nav a {
  background-color: transparent;
  color: white;
}

.nav-list img {
  padding-left: 30%;
}

.nav-list img:hover {
  opacity: 0.7;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 12%;
  background-color: transparent;
}

.nav-list li {
  letter-spacing: 3px;
  border-bottom: 1px solid white;
  padding: 5px 10px 5px 10px;
  margin-left: 20px;
  background-color: transparent;
}

.nav-list li:hover {
  border-bottom: 1px solid #FF4500;
}

.mobile-menu {
  z-index: 999;
  display: none;
  cursor: pointer;
  color: #303842;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #FF4500;
  margin: 8px;
  transition: 0.3s;

}

.black-bg {
  background-color: black;
  transition: 0.4s;
}

.black-bg a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}

.black-bg a:hover {
  opacity: 0.7;
  color: #FF4500;
}

/* BACKGROUND - TOPO */
.top-backg {
  background-image: url("../img/autocenter/banner02.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

/* SERVIÇOS */
.servicos{
min-height: 50vh;
display: flex;
align-items: center;
justify-content: center;
background: #efefef;
}
.servicos .container {
max-width: 1400px;
width: 100%;
padding: 60px 0;
}
.servicos .slide-container {
margin: 0 30px;
overflow: hidden;
}
.servicos .card {
background: #fff;
border-radius: 8px;
}
.servicos .card .image-box {
height: 300px;
}
.servicos .card .image-box img {
width: 100%;
height: 100%;
border-radius: 8px 8px 0 0;
}
.servicos .card .profile-details {
display: flex;
align-items: center;
column-gap: 12px;
padding: 15px;
}
.servicos .card .profile-details img {
height: 100%;
width: 40px;
border-radius: 50%;
}
.servicos .profile-details .name {
font-size: 15px;
font-weight: 500;
}
.servicos .profile-details .job {
font-size: 12px;
font-weight: 500;
color: #4d4d4d;
}

.servicos h3{
  color: #FF4500;
}
.servicos .swiper-navBtn {
color: #000;
height: 50px;
width: 50px;
transform: translateY(-40%);
background: #fff;
border-radius: 50%;
}
.servicos .swiper-navBtn::before,
.servicos .swiper-navBtn::after {
font-size: 24px;
}

.servicos .swiper-pagination-bullet {
background-color: #FF4500;
}

@media screen and (max-width: 768px) {
  .servicos .swiper-navBtn {
  display: none;
}
}



/* AGENDAMENTO */

/* CONTATE-NOS */
.contact {
  width: auto;
  display: grid;
  align-items: center;
  background-color: #FF4500;
  margin-top: 2%;
}

.contact-in {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px #666;
}

.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
}

.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 30px;
  text-align: center;
}

.contact-form h1 {
  margin-bottom: 10px;
  font-size: 30px;
}

.contact-form-text {
  width: 100%;
  height: 40px;
  color: black;
  border: 1px solid #bcbcbc;
  border-radius: 20px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  transition: 0.4s;
}

.contact-form-text::placeholder {
  color: #aaa;
}

.contact-form-textarea {
  width: 100%;
  height: 130px;
  color: black;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  transition: 0.4s;
}

.contact-form-textarea::placeholder {
  color: #aaa;
}

.contact-form-btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #FF4500;
  color: white;
  padding: 10px 0;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.contact-form-btn:hover {
  background-color: #ff5e23;
}

.contact-form input[type="text"]:focus {
  border-color: #FF4500;
}

.contact-form textarea:focus {
  border-color: #FF4500;
}




/* FOOTER */
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
}

.footer-content .logo_copy {
  width: 12%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer-content .logo_copy img {
  max-width: 100%;
}

.footer-content hr {
  border-color: #FF4500;
  height: 2em;
  margin-top: 0.7%;
  margin-left: 1%;
}

.footer-content p {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  word-spacing: 2px;
  margin-left: 1%;
}

.redes-sociais {
  display: flex;
  width: 68%;
}

.socials {
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: right;
}

.socials li {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  position: relative;
}

.socials a {
  color: #fff;
}

.socials a i {
  font-size: 1.4rem;
  transition: color .4s ease;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-bottom {
  background: black;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 1px;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.socials .facebook {
  border: 2px solid white;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  position: relative;
}

.socials .facebook:hover {
  color: #4267b3;
  transition: 1s ease;
  transform: rotate(360deg);
  opacity: 0.8;
  border: 2px solid #4267b3;
}

.socials .instagram {
  border: 2px solid white;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  position: relative;
}

.socials .instagram:hover {
  background: -webkit-linear-gradient(right bottom, #7f37c9, #ff2992, #ff9807);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s ease;
  transform: rotate(360deg);
  opacity: 0.8;
  border-color: #ff2992;
}

.socials .whatsapp {
  border: 2px solid white;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  position: relative;
}

.socials .whatsapp:hover {
  color: #25d366;
  transition: 1s ease;
  transform: rotate(360deg);
  opacity: 0.8;
  border: 2px solid #25d366;
}


/* responsivibilidade */

/* NAV bar */
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 10vh;
    right: 0vh;
    width: 50vw;
    height: 32vh;
    background: #FF4500;
    color: #303842;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }

  nav li a {
    color: black;
    font-weight: bold;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
    border: 0;
  }


  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media screen and (max-width: 995px) {
  .desappear {
    display: none;
  }

  .nameLogo {
    margin-left: -15px;
  }
}

@media screen and (max-width: 1285px) {
  .nameLogo {
    margin-left: -50px;
  }
}

@media screen and (max-width: 485px) {
  .nameLogo {
    margin-left: -95px;
  }
}

@media screen and (max-width: 768px) {
  .servicos .slide-content {
    margin: 0 10px;
  }

  .servicos .swiper-navBtn {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .footer-content {
    display: inline;
  }

  .footer-content hr {
    display: none;
  }

  .footer-content h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
  }

  .footer-content h3 {
    display: none;
  }

  .footer-content p {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-content .logo_copy {
    width: 100%;
  }

  .redes-sociais {
    width: 100%;
  }

  .socials {
    justify-content: center;
    margin-top: 3%;
  }
}































/* 
Preto: #050505
Laranja escuro: #FFA500
Laranja brilhante: #FF6600
Laranja avermelhado: #FF4500
 */