::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}

.home_section {
  position: relative;
  background: #E4E9F7;
  min-height: 100dvh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;  
  
  .text {
    display: inline-block;
    color: #141415;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
  }
}