::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
.home_section {
  position: relative;
  background: linear-gradient(145deg, #0c0c0c 20%, rgba(var(--colorbg), .3) 100%);
  min-height: 100dvh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;  
  
  .text {
    display: inline-block;
    color: #eeeeee;
    font-size: 25px;
    font-weight: 500;
    margin: 18px

  }
}

.teste{
  display: flex;
  width: 50%;
  justify-content: center;
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
}